.editBookContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageContainer {
  padding: 20px
}

img {
  width: 100%
}

.flatBtnLabel {
  padding: 0 !important;
}

.deleteBtnContainer {
  display: flex;
  flex-direction: row;
}

p {
  font-size: 14px;
  margin: 0;
}

.yesNoBtns {
  min-width: 30px !important;
  margin: 0 5px !important;
}
