.headerContainer {
  display: flex;
  background-color: #4286f4;
  height: 80px;
  margin: 0 auto;
  padding: 0 30px;
  justify-content: space-between;
}

.addBookBtnContainer{
  align-self: center
}

h1 {
  text-align: left;
  color: #ffffff;
}

.booksLibraryContainer {
  width: 75%
}
